<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добро пожаловать в наш интернет-магазин</title>
    <link rel="stylesheet" href="/storeCSS.css">
</head>
<body>
<div class="container">
    <h1>Добро пожаловать в наш интернет-магазин!</h1>
    <p>Ваш универсальный магазин для невероятных товаров и выгодных предложений.</p>
    <div class="button-group">
        <a href="/register" class="btn">Регистрация</a>
        <a href="/login" class="btn">Вход</a>
    </div>
</div>
</body>
</html>
